:root {
  --cpjs-countdown-cell-dimensions: 150px;
  --cpjs-countdown-cell-border-radius: var(--cpj-border-radius-3);
  --cpjs-countdown-cell-count-font-size: 64px;
  --cpjs-countdown-cell-unit-font-size: 24px;
  --cpjs-countdown-cell-count-line-height: 64px;
  --cpjs-countdown-cell-unit-line-height: 24px;
}

.cpjs-countdown-cell {
  width: var(--cpjs-countdown-cell-dimensions);
  height: var(--cpjs-countdown-cell-dimensions);
  overflow: clip;
  border-radius: var(--cpjs-countdown-cell-border-radius);

  box-shadow: inset 0 0 8px var(--cpj-black);
}

.cpjs-countdown-cell-count {
  z-index: -1;

  font-size: var(--cpjs-countdown-cell-count-font-size);
  line-height: var(--cpjs-countdown-cell-count-line-height);

  color: var(--cpj-main-dark-70);
  background: linear-gradient(to right, var(--cpj-main-light-70), var(--cpj-main-light-60));
}

.cpjs-countdown-cell-unit {
  z-index: -1;
  padding: 0 0 var(--cpj-padding-1) 0;

  font-size: var(--cpjs-countdown-cell-unit-font-size);
  line-height: var(--cpjs-countdown-cell-unit-line-height);

  color: var(--cpj-main-light-70);
  background: linear-gradient(to right, var(--cpj-main-neutral), var(--cpj-main-dark-10));
}

.cpj-breakpoint-tablet-portrait,
.cpj-breakpoint-mobile-landscape {
  --cpjs-countdown-cell-dimensions: 110px;
  --cpjs-countdown-cell-count-font-size: 40px;
  --cpjs-countdown-cell-unit-font-size: 20px;
  --cpjs-countdown-cell-count-line-height: 40px;
  --cpjs-countdown-cell-unit-line-height: 30px;
}

.cpj-breakpoint-mobile-portrait {
  --cpjs-countdown-cell-dimensions: 60px;
  --cpjs-countdown-cell-border-radius: var(--cpj-border-radius-1);
  --cpjs-countdown-cell-count-font-size: 24px;
  --cpjs-countdown-cell-unit-font-size: 16px;
  --cpjs-countdown-cell-count-line-height: 20px;
  --cpjs-countdown-cell-unit-line-height: 20px;

  .cpjs-countdown-cell-unit {
    padding: 0 0 var(--cpj-padding-0) 0;
  }
}
