<cpjf-nav-bar-drawer-button
  icon="info"
  navigateTo="cpjf-navigation-marker-info"
  (onClick)="onDrawerButtonClicked.emit()"
>
  Info
</cpjf-nav-bar-drawer-button>
<cpjf-nav-bar-drawer-button
  icon="park"
  navigateTo="cpjf-navigation-marker-schedule"
  (onClick)="onDrawerButtonClicked.emit()"
>
  Schedule / Spots
</cpjf-nav-bar-drawer-button>
<cpjf-nav-bar-drawer-button
  icon="mail"
  navigateTo="cpjf-navigation-marker-contact"
  (onClick)="onDrawerButtonClicked.emit()"
>
  Contact
</cpjf-nav-bar-drawer-button>
