<cpjf-nav-bar-drawer-button
  icon="info"
  navigateTo="cpjf-navigation-marker-info"
  (onClick)="onDrawerButtonClicked.emit()"
>
  Info
</cpjf-nav-bar-drawer-button>
<cpjf-nav-bar-drawer-button
  icon="favorite"
  navigateTo="cpjf-navigation-marker-sponsors"
  (onClick)="onDrawerButtonClicked.emit()"
>
  Sponsors
</cpjf-nav-bar-drawer-button>
<cpjf-nav-bar-drawer-button
  icon="person"
  navigateTo="cpjf-navigation-marker-special-guests"
  (onClick)="onDrawerButtonClicked.emit()"
>
  Special Guests
</cpjf-nav-bar-drawer-button>
<cpjf-nav-bar-drawer-button
  icon="park"
  navigateTo="cpjf-navigation-marker-schedule"
  (onClick)="onDrawerButtonClicked.emit()"
>
  Schedule / Spots
</cpjf-nav-bar-drawer-button>
<cpjf-nav-bar-drawer-button
  icon="sell"
  navigateTo="cpjf-navigation-marker-registration"
  (onClick)="onDrawerButtonClicked.emit()"
>
  Registration
</cpjf-nav-bar-drawer-button>
<cpjf-nav-bar-drawer-button
  icon="mail"
  navigateTo="cpjf-navigation-marker-contact"
  (onClick)="onDrawerButtonClicked.emit()"
>
  Contact
</cpjf-nav-bar-drawer-button>
