.cpjs-home-fitted-image-image-wrapper {
  overflow: clip;
}

.cpjs-home-fitted-image-shadow-container::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--cpj-border-radius-3);
  box-shadow: inset 0 0 4px 1px var(--cpj-black);
}

.cpjs-home-fitted-image-image {
  object-fit: cover;
}

.cpjs-home-fitted-image-cover .cpjs-home-fitted-image-image-wrapper {
  border-radius: var(--cpj-border-radius-3);
  box-shadow: inset 0 0 4px 1px var(--cpj-black);
}

.cpjs-home-fitted-image-contain .cpjs-home-fitted-image-image {
  position: static;
  border-radius: var(--cpj-border-radius-3);
}

.cpj-breakpoint-mobile-portrait,
.cpj-breakpoint-tablet-portrait,
.cpj-breakpoint-desktop-portrait,
.cpj-breakpoint-mobile-landscape {
  .cpjs-home-fitted-image {
    width: 100%;
  }

  .cpjs-home-fitted-image-shadow-container {
    position: relative;
    width: 100%;
  }

  .cpjs-home-fitted-image-image {
    position: static;
  }
}
