%diagonal-background {
  content: '';

  position: absolute;
  inset: 0;
  z-index: -1;

  background: linear-gradient(to right, var(--cpj-main-dark-70), var(--cpj-main-dark-50));
}

.separator {
  width: 100vw;
  height: calc(50vw * tan(5deg));

  background: linear-gradient(to right, var(--cpj-main-dark-70), var(--cpj-main-dark-50));
}

.cpjs-contact {
  position: relative;
  z-index: -2;

  color: var(--cpj-main-light-70);

  &::before {
    @extend %diagonal-background;
    transform: skewY(-5deg);
  }

  &::after {
    @extend %diagonal-background;
    transform: skewY(5deg);
  }
}

.cpjs-info-bottom-wrapper {
  width: 100%;
  display: inline-flex;
}

.cpjs-info-top-wrapper-info {
  max-width: 1500px;

  gap: 64px;
  padding: 64px;
  margin: auto;
}

.cpjs-info-info-wrapper {
  gap: 64px;
}

.cpjs-info-image {
  width: 100%;
  object-fit: cover;

  border: 2px solid var(--cpj-main-dark-70);
  border-radius: 16px;
}

.cpj-breakpoint-desktop-landscape {
  .cpjs-info-description {
    padding-left: 64px;
  }
}

.cpj-breakpoint-tablet-portrait,
.cpj-breakpoint-mobile-portrait {
  .cpjs-info-top-wrapper-info {
    flex-direction: column;
  }

  .cpjs-info-title {
    text-align: center;
  }
}

.cpj-breakpoint-mobile-portrait {
  .cpjs-info-countdown {
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}
