<div class="cpj-fill-width cpj-flex-row cpj-align-center cpj-gap-7">
  <cpjs-home-separator class="cpj-flex-grow" cpjeElementTransition="cpj-element-transition-start-left" />
  <h1 cpjeElementTransition="cpj-element-transition-start-big" class="cpj-text-align-center">
    Columbus Jam 2025 Begins in:
  </h1>
  <cpjs-home-separator class="cpj-flex-grow" cpjeElementTransition="cpj-element-transition-start-right" />
</div>

<div class="cpjs-home-countdown-countdown-cells cpj-flex-row cpj-align-center cpj-gap-3">
  <cpjs-home-countdown-cell [count]="countdownTime().days" unit="day" />
  <h1>:</h1>
  <cpjs-home-countdown-cell [count]="countdownTime().hours" unit="hour" />
  <h1>:</h1>
  <cpjs-home-countdown-cell [count]="countdownTime().minutes" unit="minute" />
  <h1>:</h1>
  <cpjs-home-countdown-cell [count]="countdownTime().seconds" unit="second" />
</div>
