<div class="cpjs-home-subscreen-content cpj-fill-width cpj-flex-column cpj-gap-7 cpj-padding-7">
  <div class="cpjs-home-info-title-wrapper cpj-flex-row cpj-align-center">
    <span cpjeElementTransition="cpj-element-transition-start-big"
          class="cpjs-home-subscreen-title cpj-script-2"
    >
      Info
    </span>
    <cpjs-home-separator class="cpj-fill-width" />
  </div>
  <div class="cpjs-home-info-content-wrapper cpj-flex-row cpj-gap-7">
    <div class="cpj-flex-column cpj-flex cpj-justify-space-between cpj-gap-7">
      <span cpjeElementTransition="cpj-element-transition-start-left">
        Columbus Jam is an annual parkour and tricking gathering that started in 2023. The event is hosted by
        <a class="cpj-title-3" cpjeTextButton="ghost-dark-text" cpjeOpenLink="https://www.instagram.com/unorthodoxpk/">
          Unorthodox Parkour.
        </a>
      </span>
      <span cpjeElementTransition="cpj-element-transition-start-left">
        Likeminded parkour and
        tricking athletes gather in central Ohio to train alongside some of the best pro athletes from across the
        country.
      </span>
      <span cpjeElementTransition="cpj-element-transition-start-left">
        <span>
          This year's jam will be held
          <span class="cpjs-home-highlighted-text">Friday, July 31 - Sunday, August 2, 2026.</span>
        </span>
      </span>
      <span cpjeElementTransition="cpj-element-transition-start-left">
        This year, no registration or payment will be required - everything is free! Just show up, show out, and have
        fun!
      </span>
      <span cpjeElementTransition="cpj-element-transition-start-left" class="cpj-body-3">
        *Given that no payment is required this year, we will NOT be providing any overnight accommodations for attendees.
      </span>
    </div>
    <cpjs-home-fitted-image cpjeElementTransition="cpj-element-transition-start-right"
                            src="images/cpj-info-image.png" />
  </div>
</div>
