<div class="cpjs-home-landing-background cpj-position-fixed cpj-fill-dimensions"></div>
<div class="cpjs-home-landing-background-overlay cpj-position-fixed cpj-fill-dimensions"></div>

<div class="cpj-flex-row cpj-flex"></div>

<div class="cpjs-home-landing-text cpj-flex-column cpj-justify-center cpj-align-center">
  <span class="cpjs-home-landing-logo cpj-text-align-center cpj-script-1"
        cpjeElementTransition="cpj-element-transition-start-big"
  >
    Columbus Jam
  </span>
  <span class="cpjs-home-landing-date cpj-text-align-center cpj-script-2">August 15-17</span>
</div>

<div class="cpjs-home-landing-arrows cpj-flex-row cpj-flex cpj-align-center">
  <cpje-icon icon="keyboard_arrow_down" />
  <cpje-icon icon="keyboard_arrow_down" />
  <cpje-icon icon="keyboard_arrow_down" />
</div>
