.cpjs-countdown-accent-line {
  height: 1px;
  background: var(--cpj-main-light-70);
}

.cpjs-countdown-title {
  text-align: center;
}

.cpjs-countdown-countdown-cells {
  padding: 0 var(--cpj-gap-3);
}

.cpj-breakpoint-mobile-portrait {
  .cpjs-countdown-countdown-cells {
    gap: 8px;
  }
}
