:root {
  --cpje-icon-button-normal-color: var(--cpj-main-light-80);
  --cpje-icon-button-hover-color: var(--cpj-main-neutral);
  --cpje-icon-button-active-color: var(--cpj-main-dark-20);
}

.cpje-icon-button {
  button {
    all: unset;
  }

  cpje-icon {
    width: var(--cpj-title-3-font-size);

    color: var(--cpje-icon-button-normal-color);
    cursor: pointer;

    transition: color var(--cpj-transition-time-2);

    &:hover {
      color: var(--cpje-icon-button-hover-color);
    }

    &:active {
      color: var(--cpje-icon-button-active-color);
    }
  }
}
