@use "sass:map";
@use "./themes/2025" as chosenTheme;
@use "../utils/global-utils" as global-utils;
@use "../utils/typography-utils" as typography-utils;

$normal-colors: map.get(chosenTheme.$theme, normal-colors);
$palette-colors: map.get(chosenTheme.$theme, palette-colors);
$typography: map.get(chosenTheme.$theme, typography);
$spacing: map.get(chosenTheme.$theme, spacing);
$dimensionality: map.get(chosenTheme.$theme, dimensionality);
$transitions: map.get(chosenTheme.$theme, transitions);

:root {
  @include global-utils.create-vars($normal-colors);

  @include global-utils.create-vars($palette-colors);

  @include global-utils.create-vars($typography);
  @include global-utils.create-multi-property-classes($typography);
  @include typography-utils.add-typography-selectors(map.get($typography, title-1), h1);
  @include typography-utils.add-typography-selectors(map.get($typography, title-2), h2);
  @include typography-utils.add-typography-selectors(map.get($typography, title-3), h3);
  @include typography-utils.add-typography-selectors(map.get($typography, body-1), "body");
  @include typography-utils.add-typography-selectors(map.get($typography, body-1), "button");

  @include global-utils.create-vars($spacing);
  @include global-utils.create-single-property-classes($spacing);

  @include global-utils.create-vars($dimensionality);

  @include global-utils.create-vars($transitions);
}
