$white: #fff;

$black: #000;

$gray: (
  neutral: #808080,
  light: (
    10: #8d8d8d,
    20: #999999,
    30: #a6a6a6,
    40: #b3b3b3,
    50: #c0c0c0,
    60: #cccccc,
    70: #d9d9d9,
    80: #e6e6e6,
    90: #f2f2f2,
  ),
  dark: (
    10: #737373,
    20: #666666,
    30: #5a5a5a,
    40: #4d4d4d,
    50: #404040,
    60: #333333,
    70: #262626,
    80: #1a1a1a,
    90: #0d0d0d,
  ),
);

$red: (
  neutral: #ff0000,
  light: (
    10: #ff1a1a,
    20: #ff3333,
    30: #ff4d4d,
    40: #ff6666,
    50: #ff8080,
    60: #ff9999,
    70: #ffb3b3,
    80: #ffcccc,
    90: #ffe6e6,
  ),
  dark: (
    10: #e60000,
    20: #cc0000,
    30: #b30000,
    40: #990000,
    50: #800000,
    60: #660000,
    70: #4c0000,
    80: #330000,
    90: #190000,
  ),
);

$orange: (
  neutral: #ff8000,
  light: (
    10: #ff8d1a,
    20: #ff9933,
    30: #ffa64d,
    40: #ffb366,
    50: #ffc080,
    60: #ffcc99,
    70: #ffd9b3,
    80: #ffe6cc,
    90: #fff2e6,
  ),
  dark: (
    10: #e67300,
    20: #cc6600,
    30: #b35a00,
    40: #994d00,
    50: #804000,
    60: #663300,
    70: #4c2600,
    80: #331a00,
    90: #190d00,
  ),
);

$yellow: (
  neutral: #fff000,
  light: (
    10: #fff21a,
    20: #fff333,
    30: #fff54d,
    40: #fff666,
    50: #fff880,
    60: #fff999,
    70: #fffbb3,
    80: #fffccc,
    90: #fffee6,
  ),
  dark: (
    10: #e6d800,
    20: #ccc000,
    30: #b3a800,
    40: #999000,
    50: #807800,
    60: #666000,
    70: #4c4800,
    80: #333000,
    90: #191800,
  ),
);

$green: (
  neutral: #00ff00,
  light: (
    10: #1aff1a,
    20: #33ff33,
    30: #4dff4d,
    40: #66ff66,
    50: #80ff80,
    60: #99ff99,
    70: #b3ffb3,
    80: #ccffcc,
    90: #e6ffe6,
  ),
  dark: (
    10: #00e600,
    20: #00cc00,
    30: #00b300,
    40: #009900,
    50: #008000,
    60: #006600,
    70: #004c00,
    80: #003300,
    90: #001900,
  ),
);

$blue: (
  neutral: #0088ff,
  light: (
    10: #1a94ff,
    20: #33a0ff,
    30: #4dacff,
    40: #66b8ff,
    50: #80c4ff,
    60: #99cfff,
    70: #b3dbff,
    80: #cce7ff,
    90: #e6f3ff,
  ),
  dark: (
    10: #007ae6,
    20: #006dcc,
    30: #005fb3,
    40: #005299,
    50: #004480,
    60: #003666,
    70: #00294c,
    80: #001b33,
    90: #000e19,
  ),
);

$purple: (
  neutral: #8800ff,
  light: (
    10: #941aff,
    20: #a033ff,
    30: #ac4dff,
    40: #b866ff,
    50: #c480ff,
    60: #cf99ff,
    70: #dbb3ff,
    80: #e7ccff,
    90: #f3e6ff,
  ),
  dark: (
    10: #7a00e6,
    20: #6d00cc,
    30: #5f00b3,
    40: #520099,
    50: #440080,
    60: #360066,
    70: #29004c,
    80: #1b0033,
    90: #0e0019,
  ),
);

$pink: (
  neutral: #ff00ff,
  light: (
    10: #ff1aff,
    20: #ff33ff,
    30: #ff4dff,
    40: #ff66ff,
    50: #ff80ff,
    60: #ff99ff,
    70: #ffb3ff,
    80: #ffccff,
    90: #ffe6ff,
  ),
  dark: (
    10: #e600e6,
    20: #cc00cc,
    30: #b300b3,
    40: #990099,
    50: #800080,
    60: #660066,
    70: #4c004c,
    80: #330033,
    90: #190019,
  ),
);
