@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap');

@font-face {
  font-family: 'BlowBrush';
  src: url('../../../../public/fonts/blowbrush.regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Future Outrun Future';
  src: url('../../../../public/fonts/future.outrun-future-bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

$title-1: (
  font-family: ("Oswald", sans-serif),
  font-size: 32px,
  font-weight: bold,
  line-height: 32px,
);

$title-2: (
  font-family: ("Oswald", sans-serif),
  font-size: 28px,
  font-weight: bold,
  line-height: 28px,
);

$title-3: (
  font-family: ("Oswald", sans-serif),
  font-size: 24px,
  font-weight: bold,
  line-height: 24px,
);

$body-1: (
  font-family: ("Oswald", sans-serif),
  font-size: 24px,
  font-weight: normal,
  line-height: 24px,
);

$body-2: (
  font-family: ("Oswald", sans-serif),
  font-size: 20px,
  font-weight: normal,
  line-height: 20px,
);

$body-3: (
  font-family: ("Oswald", sans-serif),
  font-size: 16px,
  font-weight: normal,
  line-height: 20px,
);

$icon: (
  font-family: ("Material Icons", sans-serif),
  font-size: inherit,
  font-weight: normal,
  line-height: inherit,
);
