@font-face {
  font-family: 'cpj-font-normal';
  src: url('../../../../public/fonts/Oswald-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'cpj-font-script-1';
  src: url('../../../../public/fonts/future.outrun-future-bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'cpj-font-script-2';
  src: url('../../../../public/fonts/blowbrush.regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'cpj-font-icon';
  src: url('../../../../public/fonts/MaterialIcons-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$title-1: (
  font-family: ("cpj-font-normal", sans-serif),
  font-size: 32px,
  line-height: 48px,
  font-weight: bold,
);

$title-2: (
  font-family: ("cpj-font-normal", sans-serif),
  font-size: 28px,
  line-height: 42px,
  font-weight: bold,
);

$title-3: (
  font-family: ("cpj-font-normal", sans-serif),
  font-size: 24px,
  line-height: 36px,
  font-weight: bold,
);

$body-1: (
  font-family: ("cpj-font-normal", sans-serif),
  font-size: 24px,
  line-height: 36px,
  font-weight: normal,
);

$body-2: (
  font-family: ("cpj-font-normal", sans-serif),
  font-size: 20px,
  line-height: 30px,
  font-weight: normal,
);

$body-3: (
  font-family: ("cpj-font-normal", sans-serif),
  font-size: 16px,
  line-height: 24px,
  font-weight: normal,
);

$script-1: (
  font-family: ("cpj-font-script-1", sans-serif),
  font-weight: normal,
);

$script-2: (
  font-family: ("cpj-font-script-2", sans-serif),
  font-weight: normal,
);

$icon: (
  font-family: ("cpj-font-icon", sans-serif),
  font-weight: normal,
);
