<div class="cpj-flex cpj-flex-column cpj-align-center">
  <div class="cpjs-home-registration-ticket-card-title-wrapper cpj-fill-width cpj-flex-column
      cpj-align-center"
  >
    <div class="cpjs-home-registration-ticket-card-band-border cpj-fill-width"></div>
    <span class="cpjs-home-registration-ticket-card-title cpj-text-align-center cpj-title-1">{{ title() }}</span>
    <div class="cpjs-home-registration-ticket-card-band-border cpj-fill-width"></div>
  </div>
  <div class="cpjs-home-registration-ticket-card-price-wrapper cpj-fill-width cpj-flex-column
      cpj-justify-center cpj-align-center cpj-border-box"
  >
    <div class="cpjs-home-registration-ticket-card-band-border cpj-fill-width"></div>
    <span class="cpjs-home-registration-ticket-card-price cpj-script-2">{{ price() }}</span>
    <div class="cpjs-home-registration-ticket-card-band-border cpj-fill-width"></div>
  </div>
  <div class="cpj-fill-width cpj-flex-column cpj-padding-7 cpj-border-box">
    <ng-content />
  </div>
</div>
