<div class="cpjf-nav-bar-top-wrapper cpj-flex-row">
  <div class="cpj-flex-row">
    <cpje-instagram-button class="cpjf-nav-bar-instagram-button" />
  </div>

  <div class="cpj-flex-row cpj-flex-grow cpj-justify-center cpj-align-center cpj-gap-3">
    @if (!isMobile()) {
      <div class="cpj-flex-row cpj-flex cpj-justify-end cpj-gap-3">
        <button
          cpjfNavigateTo="cpjf-navigation-marker-info"
          class="cpjf-nav-bar-link cpj-body-3"
        >
          Info
        </button>
        <button
          cpjfNavigateTo="cpjf-navigation-marker-sponsors"
          class="cpjf-nav-bar-link cpj-body-3"
        >
          Sponsors
        </button>
        <button
          cpjfNavigateTo="cpjf-navigation-marker-special-guests"
          class="cpjf-nav-bar-link cpj-body-3"
        >
          Special Guests
        </button>
      </div>
    }
    <button
      cpjfNavigateTo="cpjf-navigation-marker-landing"
      class="cpjf-nav-bar-link cpjf-nav-bar-logo cpj-script-1"
    >
      Columbus Jam
    </button>
    @if (!isMobile()) {
      <div class="cpj-flex-row cpj-flex cpj-gap-3">
        <button
          cpjfNavigateTo="cpjf-navigation-marker-schedule"
          class="cpjf-nav-bar-link cpj-body-3"
        >
          Schedule / Spots
        </button>
        <button
          cpjfNavigateTo="cpjf-navigation-marker-registration"
          class="cpjf-nav-bar-link cpj-body-3"
        >
          Registration
        </button>
        <button
          cpjfNavigateTo="cpjf-navigation-marker-contact"
          class="cpjf-nav-bar-link cpj-body-3"
        >
          Contact
        </button>
      </div>
    }
  </div>

  <div class="cpj-flex-row cpj-justify-end cpj-align-center">
    @if (isMobile()) {
      <cpje-icon-button [icon]="drawerButtonIcon()" (onClick)="onMenuButtonClicked()" />
    }
  </div>
</div>

@if (isMobile()) {
  <cpjf-nav-bar-drawer [opened]="drawerOpened()" (onDrawerButtonClicked)="drawerOpened.set(false)"/>
}
