:root {
  --cpjf-nav-bar-top-wrapper-height: 24px;

  --cpjf-nav-bar-background-color: linear-gradient(to right, var(--cpj-main-dark-60), var(--cpj-main-dark-80));
  --cpjf-nav-bar-box-shadow: 0 0 8px 4px var(--cpj-black);
}

.cpjf-nav-bar {
  z-index: var(--cpj-z-index-nav-bar);

  animation: cpjf-nav-bar-fade-in 1s both 1s;
  @keyframes cpjf-nav-bar-fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
}

.cpjf-nav-bar-top-wrapper {
  height: var(--cpjf-nav-bar-top-wrapper-height);
  padding: var(--cpj-padding-3) var(--cpj-padding-7);
  background: var(--cpjf-nav-bar-background-color);
  box-shadow: var(--cpjf-nav-bar-box-shadow);
}

.cpjf-nav-bar-double-gap {
  gap: calc(2 * var(--cpj-gap-7));
}

.cpjf-nav-bar-logo {
  font-size: var(--cpjf-nav-bar-top-wrapper-height);
  line-height: var(--cpjf-nav-bar-top-wrapper-height);

  transition: color var(--cpj-transition-time-2), transform var(--cpj-transition-time-2);

  &:hover {
    transform: scale(1.1);
  }
}

button.cpjf-nav-bar-drawer-button {
  padding: var(--cpj-padding-1) var(--cpj-padding-3);

  // The text is quite long on this button and looks weird on super small widths
  &.cpjf-nav-bar-drawer-button-schedule {
    .cpje-button-suffix-wrapper {
      flex: 0 0 0;
    }
  }
}
