@let menuDropdown = useMenuDropdown();

<div class="cpjf-nav-bar-top-wrapper cpj-flex-row cpj-title-3">

  <div class="cpj-flex cpj-flex-row">
    <cpje-instagram-button class="cpjf-nav-bar-instagram-button" />

    @if (!menuDropdown) {
      <div class="cpj-flex-row cpj-justify-end cpj-flex-grow cpj-align-center">
        <button class="cpjf-nav-bar-link cpj-body-3" (click)="navigateTo('nav-bar-info-location')">Info</button>
        <button class="cpjf-nav-bar-link cpj-body-3" (click)="navigateTo('nav-bar-sponsors-location')">Sponsors</button>
        <button class="cpjf-nav-bar-link cpj-body-3" (click)="navigateTo('nav-bar-special-guests-location')">Special Guests</button>
      </div>
    }
  </div>

  <button class="cpjf-nav-bar-logo cpj-script-1" (click)="navigateTo('nav-bar-home-location')">Columbus Jam</button>

  @if (menuDropdown) {
    <div class="cpj-flex-row cpj-flex cpj-justify-end cpj-align-center">
      <cpje-icon-button [icon]="menuButtonIcon()" (onClick)="onMenuButtonClicked()" />
    </div>
  } @else {
    <div class="cpj-flex-row cpj-flex cpj-align-center">
      <button class="cpjf-nav-bar-link cpj-body-3" (click)="navigateTo('nav-bar-schedule-location')">Schedule / Spots</button>
      <button class="cpjf-nav-bar-link cpj-body-3" (click)="navigateTo('nav-bar-registration-location')">Registration</button>
      <button class="cpjf-nav-bar-link cpj-body-3" (click)="navigateTo('nav-bar-contact-location')">Contact</button>
    </div>
  }

</div>

@if (menuDropdown && menuDropdownOpen()) {
  <div class="cpjf-nav-bar-bottom-wrapper cpj-flex-column cpj-align-center cpj-gap-4 cpj-padding-4">
    <button class="cpjf-nav-bar-link cpj-title-3" (click)="navigateTo('nav-bar-info-location')">Info</button>
    <button class="cpjf-nav-bar-link cpj-title-3" (click)="navigateTo('nav-bar-sponsors-location')">Sponsors</button>
    <button class="cpjf-nav-bar-link cpj-title-3" (click)="navigateTo('nav-bar-special-guests-location')">Special Guests</button>
    <button class="cpjf-nav-bar-link cpj-title-3" (click)="navigateTo('nav-bar-schedule-location')">Schedule / Spots</button>
    <button class="cpjf-nav-bar-link cpj-title-3" (click)="navigateTo('nav-bar-registration-location')">Registration</button>
    <button class="cpjf-nav-bar-link cpj-title-3" (click)="navigateTo('nav-bar-contact-location')">Contact</button>
  </div>
}

