<div class="cpjs-home-subscreen-content cpj-fill-width cpj-flex-column cpj-gap-7 cpj-padding-7">
  <div class="cpjs-home-sponsors-title-wrapper cpj-flex-row cpj-align-center">
    <cpjs-home-separator class="cpj-fill-width" />
    <span cpjeElementTransition="cpj-element-transition-start-big"
          class="cpjs-home-subscreen-title cpj-script-2"
    >
      Sponsors
    </span>
  </div>

  <div class="cpjs-home-sponsors-content-wrapper cpj-flex-row cpj-gap-7">
    <cpjs-home-fitted-image cpjeElementTransition="cpj-element-transition-start-left"
                            src="images/altitude.png" />
    <div class="cpj-flex-column cpj-flex cpj-justify-space-between cpj-gap-7">
      <div cpjeElementTransition="cpj-element-transition-start-small" class="cpj-flex-row cpj-justify-space-between cpj-gap-7">
        <div class="cpj-flex-column">
          <h1 class="cpjs-home-highlighted-text">
            Altitude Martial Arts
          </h1>
          <div class="cpj-flex-row cpj-align-center cpj-gap-3">
            <button class="cpj-title-1"
                    cpjeButton="ghost-light-text"
                    cpjeOpenLink="https://www.altitude-ma.com/"
            >
              <cpje-icon icon="language" />
            </button>
            <button cpjeButton="ghost-light-text" cpjeOpenLink="https://www.instagram.com/altitude_martial_arts/">
              <cpje-svg type="instagram" dimensions="var(--cpj-title-1-font-size)" />
            </button>
            <button cpjeButton="ghost-light-text" cpjeOpenLink="https://www.facebook.com/AltitudeMartialArts/">
              <cpje-svg type="facebook" dimensions="var(--cpj-title-1-font-size)" />
            </button>
          </div>
        </div>
        <div class="cpjs-home-sponsors-altitude-logo-image cpj-flex-grow cpj-fill-height cpj-flex-row"></div>
      </div>
      <span cpjeElementTransition="cpj-element-transition-start-right">
        Altitude Martial Arts is central Ohio’s newest martial arts school, and a proud member of the Global
        Traditional Martial Arts (GTMA) organization.
      </span>
      <span cpjeElementTransition="cpj-element-transition-start-right">
        Instruction is offered in GTMA traditional Taekwondo curriculum, Extreme Martial Arts weapons and forms
        training, and Martial Arts Tricking (the unique discipline which blends martial arts with gymnastics and
        acrobatic techniques).
      </span>
      <span cpjeElementTransition="cpj-element-transition-start-right">
        Their 7000 square foot facility boasts a large variety of equipment, including a 1500 square foot spring floor,
        mats, boxes, a trampoline, and different training pads.
      </span>
    </div>
  </div>
</div>
