@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap');

$title-1: (
  font-family: ("Oswald", sans-serif),
  font-size: 32px,
  font-weight: bold,
  line-height: 32px,
  margin: unset,
);

$title-2: (
  font-family: ("Oswald", sans-serif),
  font-size: 28px,
  font-weight: bold,
  line-height: 28px,
  margin: unset,
);

$title-3: (
  font-family: ("Oswald", sans-serif),
  font-size: 24px,
  font-weight: bold,
  line-height: 24px,
  margin: unset,
);

$body-1: (
  font-family: ("Oswald", sans-serif),
  font-size: 24px,
  font-weight: normal,
  line-height: 24px,
  margin: unset,
);

$body-2: (
  font-family: ("Oswald", sans-serif),
  font-size: 20px,
  font-weight: normal,
  line-height: 20px,
  margin: unset,
);

$body-3: (
  font-family: ("Oswald", sans-serif),
  font-size: 16px,
  font-weight: normal,
  line-height: 16px,
  margin: unset,
);

$icons: (
  font-family: ("Material Icons", sans-serif),
  font-size: inherit,
  font-weight: normal,
  line-height: inherit,
  margin: unset,
);
