.cpj-block {
  display: block;
}

.cpj-flex-row {
  display: flex;
}

.cpj-flex-column {
  display: flex;
  flex-direction: column;
}

.cpj-justify-start {
  justify-content: flex-start;
}

.cpj-justify-center {
  justify-content: center;
}

.cpj-justify-end {
  justify-content: flex-end;
}

.cpj-justify-space-between {
  justify-content: space-between;
}

.cpj-justify-self-end {
  justify-self: flex-end;
}

.cpj-align-center {
  align-items: center;
}

.cpj-align-end {
  align-items: flex-end;
}

.cpj-text-align-center {
  text-align: center;
}
