:root {
  .cpj-zero-dimensions {
    width: 0;
    height: 0;
  }

  .cpj-screen-dimensions {
    width: 100vw;
    height: 100vh;
  }

  .cpj-fill-dimensions {
    width: 100%;
    height: 100%;
  }

  .cpj-fill-width {
    width: 100%;
  }

  .cpj-fill-height {
    height: 100%;
  }

  .cpj-block {
    display: block;
  }

  .cpj-flex-row {
    display: flex;
  }

  .cpj-flex-column {
    display: flex;
    flex-direction: column;
  }

  .cpj-flex-grow {
    flex-grow: 1;
  }

  .cpj-flex {
    flex: 1;
  }

  .cpj-justify-start {
    justify-content: flex-start;
  }

  .cpj-justify-center {
    justify-content: center;
  }

  .cpj-justify-end {
    justify-content: flex-end;
  }

  .cpj-justify-space-between {
    justify-content: space-between;
  }

  .cpj-align-center {
    align-items: center;
  }

  .cpj-align-end {
    align-items: flex-end;
  }

  .cpj-border-box {
    box-sizing: border-box;
  }
}
