.cpj-position-relative {
  position: relative;
}

.cpj-position-absolute {
  position: absolute;
}

.cpj-position-fixed {
  position: fixed;
}

.cpj-top {
  top: 0;
}

.cpj-left {
  left: 0;
}

.cpj-z-index-behind {
  z-index: -1;
}
