@use "../mappings/colors" as colors;
@use "../mappings/spacing" as spacing;
@use "../mappings/typography" as typography;

$theme: (
  theme-colors: (
    main: colors.$orange,
  ),
  spacing: (
    gap: spacing.$gap,
    margin: spacing.$margin,
    padding: spacing.$margin,
  ),
  typography: (
    title-1: typography.$title-1,
    title-2: typography.$title-2,
    title-3: typography.$title-3,
    body-1: typography.$body-1,
    body-2: typography.$body-2,
    body-3: typography.$body-3,
    icon: typography.$icon,
  ),
);
