<div id="nav-bar-home-location"></div>

<div class="cpjs-home-background cpj-max-dimensions"></div>
<div class="cpjs-home-background-overlay cpj-max-dimensions"></div>

<div class="cpj-flex-row cpj-flex"></div>

<div class="cpj-flex-column cpj-justify-center cpj-align-center">
  <span class="cpjs-home-logo cpj-script-1">Columbus Jam</span>
  <span class="cpjs-home-date cpj-script-2">August 15-17</span>
</div>

<div class="cpj-flex-row cpj-flex cpj-align-end">
  <div class="cpjs-home-arrows">
    <cpje-icon [icon]="ARROWS_ICON" />
    <cpje-icon [icon]="ARROWS_ICON" />
    <cpje-icon [icon]="ARROWS_ICON" />
  </div>
</div>
