.cpjs-home-female-hex {
  --cpje-hex-snap-container-content-background: linear-gradient(to right, var(--cpj-main-dark-70), var(--cpj-main-dark-80));
  --cpje-hex-snap-container-content-background-opacity: 0.9;

  color: var(--cpj-main-light-70);
}

.cpjs-home-male-hex {
  --cpje-hex-snap-container-content-background: var(--cpj-main-light-70);
  --cpje-hex-snap-container-content-background-opacity: 0.9;

  color: var(--cpj-main-dark-70);
}
