<cpjf-nav-bar />
<cpjs-home-landing />

<cpjs-home-hex-snap-container class="cpjs-home-female-hex" type="female">
  <cpjs-home-countdown />
</cpjs-home-hex-snap-container>
<cpjs-home-hex-snap-container class="cpjs-home-male-hex" type="male">
  <cpjs-home-info />
</cpjs-home-hex-snap-container>
<cpjs-home-hex-snap-container class="cpjs-home-female-hex" type="female">
  <cpjs-home-sponsors />
</cpjs-home-hex-snap-container>
<cpjs-home-hex-snap-container class="cpjs-home-male-hex" type="male">
  <cpjs-home-special-guests />
</cpjs-home-hex-snap-container>
<cpjs-home-hex-snap-container class="cpjs-home-female-hex" type="female">
  scheudle
</cpjs-home-hex-snap-container>
<cpjs-home-hex-snap-container class="cpjs-home-male-hex" type="male">
  registraiton
</cpjs-home-hex-snap-container>
<cpjs-home-hex-snap-container class="cpjs-home-female-hex" type="female">
  contact
</cpjs-home-hex-snap-container>
