<cpjf-nav-bar />
<cpjs-home-landing />

<cpjs-home-hex-snap-container class="cpjs-home-female-hex" type="female">
  <cpjs-home-countdown />
</cpjs-home-hex-snap-container>
<cpjs-home-hex-snap-container class="cpjs-home-male-hex" type="male">
  <cpjs-home-info />
</cpjs-home-hex-snap-container>
<cpjs-home-hex-snap-container class="cpjs-home-female-hex" type="female">
  <cpjs-home-sponsors />
</cpjs-home-hex-snap-container>
<cpjs-home-hex-snap-container class="cpjs-home-male-hex" type="male">
  <cpjs-home-special-guests />
</cpjs-home-hex-snap-container>
<cpjs-home-hex-snap-container class="cpjs-home-female-hex" type="female">
  <cpjs-home-schedule />
</cpjs-home-hex-snap-container>
<cpjs-home-hex-snap-container class="cpjs-home-male-hex" type="male">
  <cpjs-home-registration />
</cpjs-home-hex-snap-container>
<cpjs-home-hex-snap-container class="cpjs-home-female-hex" type="female">
  <cpjs-home-contact />
</cpjs-home-hex-snap-container>

<div class="cpjs-home-bottom-cap cpj-position-absolute cpj-bottom cpj-fill-width cpj-flex-row cpj-align-center cpj-border-box">
  <span class="cpjs-home-bottom-cap-logo cpj-script-1">Columbus Jam</span>
</div>
