:root {
  --cpjs-home-subscreen-content-max-width: 1500px;
  --cpjs-home-subscreen-title-paddng: 48px;
  --cpjs-home-subscreen-title-font-size: 100px;
  --cpjs-home-subscreen-title-line-height: 150px;
}

.cpjs-home-female-hex {
  --cpjs-home-hex-snap-container-content-background: linear-gradient(to right, var(--cpj-main-dark-60), var(--cpj-main-dark-80));
  --cpjs-home-hex-snap-container-content-background-opacity: 0.9;

  color: var(--cpj-main-light-70);
}

.cpjs-home-male-hex {
  --cpjs-home-hex-snap-container-content-background: var(--cpj-main-light-70);
  --cpjs-home-hex-snap-container-content-background-opacity: 0.9;

  color: var(--cpj-main-dark-70);
}

.cpjs-home-bottom-cap {
  height: var(--cpjs-home-hex-snap-container-min-height);
  padding: var(--cpj-padding-3) var(--cpj-padding-7);
  background: linear-gradient(to right, var(--cpj-main-dark-60), var(--cpj-main-dark-80));
  box-shadow: 0 0 8px 4px var(--cpj-black);
}

.cpjs-home-bottom-cap-logo {
  font-size: var(--cpjf-nav-bar-top-wrapper-height);
  line-height: var(--cpjf-nav-bar-top-wrapper-height);
  color: var(--cpj-main-light-70);
}

.cpjs-home-subscreen-content {
  max-width: var(--cpjs-home-subscreen-content-max-width);
}

.cpjs-home-subscreen-title {
  padding: 0 var(--cpjs-home-subscreen-title-paddng);
  font-size: var(--cpjs-home-subscreen-title-font-size);
  line-height: var(--cpjs-home-subscreen-title-line-height);
}

.cpjs-home-highlighted-text {
  color: var(--cpj-main-neutral);
}

.cpj-breakpoint-mobile-portrait {
  --cpjs-home-subscreen-title-paddng: 0;
  --cpjs-home-subscreen-title-font-size: 80px;
  --cpjs-home-subscreen-title-line-height: 120px;
}
