<div class="cpjs-home-subscreen-content cpj-fill-width cpj-flex-column cpj-gap-7 cpj-padding-7">
  <div class="cpjs-home-special-guests-title-wrapper cpj-flex-row cpj-align-center cpj-text-align-center">
    <span cpjeElementTransition="cpj-element-transition-start-big"
          class="cpjs-home-subscreen-title cpj-script-2"
    >
      Special Guests
    </span>
    <cpjs-home-separator class="cpj-flex-grow" />
  </div>

  <div class="cpjs-home-special-guests-content-wrapper cpjs-home-special-guests-content-column cpj-flex-row cpj-gap-7">
    <div class="cpj-flex-column cpj-flex cpj-justify-space-between cpj-gap-7">
      <div cpjeElementTransition="cpj-element-transition-start-small" class="cpj-flex-row cpj-justify-space-between cpj-gap-7">
        <div class="cpj-flex-column">
          <h1 class="cpjs-home-highlighted-text">
            Chris Green
          </h1>
          <div class="cpj-flex-row cpj-align-center cpj-gap-3">
            <button class="cpj-title-1"
                    cpjeButton="ghost-dark-text"
                    cpjeOpenLink="https://www.nsicoaching.com/"
            >
              <cpje-icon icon="language" />
            </button>
            <button cpjeButton="ghost-dark-text" cpjeOpenLink="https://www.instagram.com/chrisgreenlifts/">
              <cpje-svg type="instagram" dimensions="var(--cpj-title-1-font-size)" />
            </button>
            <button cpjeButton="ghost-dark-text" cpjeOpenLink="https://www.tiktok.com/@region.fit">
              <cpje-svg type="tiktok" dimensions="var(--cpj-title-1-font-size)" />
            </button>
          </div>
        </div>
      </div>
      <span cpjeElementTransition="cpj-element-transition-start-left">
        Christopher is a certified personal trainer and nutrition coach. He'll be offering a
        <span class="cpj-title-3" cpjeTextButton="ghost-dark-text" cpjfNavigateTo="cpjf-navigation-marker-schedule">
          free mobility clinic at the jam
        </span>
        to help athletes move better, recover faster, and prevent injuries.
      </span>
      <span cpjeElementTransition="cpj-element-transition-start-left">
        He has over 10 years of experience in resistance training and 14 years in tumbling, including 3 years
        as a parkour athlete. After recovering from a major injury, he's gained valuable insight into mobility,
        recovery, and rebuilding from the ground up.
      </span>
      <span cpjeElementTransition="cpj-element-transition-start-left">
        If you've got questions or are looking for new warmup exercises before you get started, look for him at the jam
        and he'll help you out!
      </span>
    </div>
    <cpjs-home-fitted-image cpjeElementTransition="cpj-element-transition-start-right"
                            src="images/chris.png" objectFit="contain" />
  </div>

  <div class="cpjs-home-special-guests-content-wrapper cpjs-home-special-guests-content-column-reverse cpj-flex-row cpj-gap-7">
    <cpjs-home-fitted-image cpjeElementTransition="cpj-element-transition-start-left"
                            src="images/ryan.png" objectFit="contain" />
    <div class="cpj-flex-column cpj-flex cpj-justify-space-between cpj-gap-7">
      <div cpjeElementTransition="cpj-element-transition-start-small" class="cpj-flex-row cpj-justify-space-between cpj-gap-7">
        <div class="cpj-flex-column cpj-gap-2">
          <h1 class="cpjs-home-highlighted-text">
            Ryan Contreras
          </h1>
          <div class="cpj-flex-row cpj-align-center cpj-gap-3">
            <button cpjeButton="ghost-dark-text" cpjeOpenLink="https://www.facebook.com/ryan.contreras.1612">
              <cpje-svg type="facebook" dimensions="var(--cpj-title-1-font-size)" />
            </button>
            <button cpjeButton="ghost-dark-text" cpjeOpenLink="https://www.instagram.com/flyinryanpk/">
              <cpje-svg type="instagram" dimensions="var(--cpj-title-1-font-size)" />
            </button>
            <button cpjeButton="ghost-dark-text" cpjeOpenLink="https://www.tiktok.com/@flyinryanpk">
              <cpje-svg type="tiktok" dimensions="var(--cpj-title-1-font-size)" />
            </button>
            <button cpjeButton="ghost-dark-text" cpjeOpenLink="https://www.youtube.com/@flyinryanpk">
              <cpje-svg type="youtube" dimensions="var(--cpj-title-1-font-size)" />
            </button>
          </div>
        </div>
      </div>
      <span cpjeElementTransition="cpj-element-transition-start-right">
        Also known as
        <a class="cpj-title-3" cpjeTextButton="ghost-dark-text" cpjeOpenLink="https://www.instagram.com/flyinryanpk/">
          flyinryanpk,
        </a>
        Ryan Contreras is a parkour athlete hailing from Connecticut with the ability to execute some truly crazy sends
        that most wouldn't dare even think about.
      </span>
      <span cpjeElementTransition="cpj-element-transition-start-right">
        In addition to having a plethora of gnarly drops, gainers, and gaps under his belt, he also possesses the
        record for the farthest trapdoor done over concrete with a staggering 19ft gap.
      </span>
      <span cpjeElementTransition="cpj-element-transition-start-right">
        It's as a wise man once said - full sends only! 🤙
      </span>
    </div>
  </div>

  <div class="cpjs-home-special-guests-content-wrapper cpjs-home-special-guests-content-column cpj-flex-row cpj-gap-7">
    <div class="cpj-flex-column cpj-flex cpj-justify-space-between cpj-gap-7">
      <div cpjeElementTransition="cpj-element-transition-start-small" class="cpj-flex-row cpj-justify-space-between cpj-gap-7">
        <div class="cpj-flex-column cpj-gap-2">
          <h1 class="cpjs-home-highlighted-text">
            Wesley Yoshida 🐢
          </h1>
          <div class="cpj-flex-row cpj-align-center cpj-gap-3">
            <button cpjeButton="ghost-dark-text" cpjeOpenLink="https://www.instagram.com/Spinnin_Turtle/">
              <cpje-svg type="instagram" dimensions="var(--cpj-title-1-font-size)" />
            </button>
            <button cpjeButton="ghost-dark-text" cpjeOpenLink="https://www.youtube.com/@Spinnin_Turtle">
              <cpje-svg type="youtube" dimensions="var(--cpj-title-1-font-size)" />
            </button>
          </div>
        </div>
      </div>
      <span cpjeElementTransition="cpj-element-transition-start-left">
        Also known as
        <a class="cpj-title-3" cpjeTextButton="ghost-dark-text" cpjeOpenLink="https://www.instagram.com/Spinnin_Turtle/">
          spinnin_turtle,
        </a>
        Wesley is a parkour athlete from Indiana with an extensive arsenal of
        both versatile and high-level tricks, including things you've probably never even seen before.
      </span>
      <span cpjeElementTransition="cpj-element-transition-start-left">
        His ability to smoothly pick and chain together complex movements produces some impressively
        difficult combos and lines that will leave you in awe.
      </span>
      <span cpjeElementTransition="cpj-element-transition-start-left">
        His
        <a class="cpj-title-3" cpjeTextButton="ghost-dark-text" cpjeOpenLink="https://www.youtube.com/@Spinnin_Turtle">
          YouTube
        </a>
        currently features some parkour projects centered around utilizing the full potential of a single
        spot, and showcases some of his amazing movement.
      </span>
    </div>
    <cpjs-home-fitted-image cpjeElementTransition="cpj-element-transition-start-right"
                            src="images/wes.png" objectFit="contain" />
  </div>
</div>
