<div class="cpjs-info-content cpj-fill-width cpj-flex-column cpj-gap-7 cpj-padding-7">
  <div class="cpjs-info-title-wrapper cpj-flex-row cpj-align-center">
    <span cpjfElementTransition="cpj-element-transition-start-big"
          class="cpjs-info-title cpj-script-2"
    >
      Info
    </span>
    <div class="cpjs-info-separator cpj-fill-width"></div>
  </div>

  <div class="cpjs-info-content-wrapper cpj-flex-row cpj-gap-7">
    <div class="cpj-flex-column cpj-flex cpj-justify-space-between cpj-gap-7">
      <span cpjfElementTransition="cpj-element-transition-start-left" class="cpj-title-2">
        Columbus Jam is an annual parkour and tricking gathering that started in 2023.  The event is hosted by Unorthodox
         Parkour and sponsored by Altitude Martial Arts.
      </span>
      <span cpjfElementTransition="cpj-element-transition-start-left" class="cpj-title-2">
        Likeminded parkour and
        tricking athletes gather in central Ohio to train alongside some of the best pro athletes across the
        country.
      </span>
      <span cpjfElementTransition="cpj-element-transition-start-left" class="cpj-title-2">
        This year's jam will be Starting on Friday,
        <span class="cpjs-info-date">August 15-17 2025</span>
        .
      </span>
    </div>
    <div cpjfElementTransition="cpj-element-transition-start-right" class="cpj-flex-row cpj-flex">
      <div class="cpjs-info-image-wrapper cpj-flex-row">
        <img class="cpjs-info-image cpj-fill-width" src="images/cpj-info-image.png" alt="" />
      </div>
    </div>
  </div>
</div>
