@let displayValues = countdownDisplayValues();

<div class="cpjs-home-countdown-clock-cell cpj-align-center">
  <div class="cpjs-home-countdown-clock-cell-overlay"></div>
  <span>{{ displayValues.days }}</span>
  <span>DAYS</span>
</div>
<span class="cpjs-home-countdown-clock-separator">,</span>
<div class="cpjs-home-countdown-clock-cell">
  <div class="cpjs-home-countdown-clock-cell-overlay"></div>
  <span>{{ displayValues.hours }}</span>
  <span>HRS</span>
</div>
<span class="cpjs-home-countdown-clock-separator">:</span>
<div class="cpjs-home-countdown-clock-cell cpj-align-center">
  <div class="cpjs-home-countdown-clock-cell-overlay"></div>
  <span>{{ displayValues.minutes }}</span>
  <span>MIN</span>
</div>
<span class="cpjs-home-countdown-clock-separator">:</span>
<div class="cpjs-home-countdown-clock-cell cpj-align-center">
  <div class="cpjs-home-countdown-clock-cell-overlay"></div>
  <span>{{ displayValues.seconds }}</span>
  <span>SEC</span>
</div>
