:root {
  --cpjs-home-countdown-clock-cell-size: 120px;
  --cpjs-home-countdown-clock-cell-border-radius: 0;
  --cpjs-home-countdown-separator-font-size: 80px;
}

.cpjs-home-countdown-clock {
  --cpjs-home-countdown-clock-cell-font-size: calc(var(--cpjs-home-countdown-clock-cell-size) / 4);

  height: var(--cpjs-home-countdown-clock-cell-size);

  gap: var(--cpj-gap-7);

  font-size: var(--cpjs-home-countdown-clock-cell-font-size);
  line-height: calc(var(--cpjs-home-countdown-clock-cell-font-size) * 1.5);
  font-family: "Cal Sans", sans-serif;
  color: var(--cpj-main-dark-70);

  cursor: default;
}

.cpjs-home-countdown-clock-cell {
  width: var(--cpjs-home-countdown-clock-cell-size);
  height: var(--cpjs-home-countdown-clock-cell-size);
  position: relative;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: var(--cpj-padding-3);
  border-radius: var(--cpjs-home-countdown-clock-cell-border-radius);
  box-sizing: border-box;

  box-shadow: inset 0 0 16px var(--cpj-main-dark-70);
}

.cpjs-home-countdown-clock-cell-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;

  border-radius: var(--cpjs-home-countdown-clock-cell-border-radius);

  background: var(--cpj-main-light-90);
  opacity: 0.25;
}

.cpjs-home-countdown-clock-separator {
  font-size: var(--cpjs-home-countdown-separator-font-size);
  color: var(--cpj-main-dark-70);
}
